[package]
name = "chewdata"
version = "0.0.1"
authors = ["Jean-Marc Fiaschi"]
edition = "2018"
description = "Extract Transform and Load data"
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://www.chewdata.org"
repository = "https://github.com/jmfiaschi/chewdata"

[dependencies]
slog = { version="2.7", features = ["max_level_trace", "release_max_level_info"] }
slog-scope = "4.3"
slog-term = "2.6"
slog-async = "2.5"
slog-stdlog = "4.1.0"
slog-envlogger = "2.2"
glob = "0.3"
serde_json = "1.0"
json_value_merge = "0.1.2"
json_value_resolve = "0.1.1"
json_value_search = "0.1.1"
serde = { version = "1.0", features = ["derive"] }
serde-with-expand-env = "1.1.0"
# For readers
jxon = "0.7"
clap = {version = "2.33", features = ["yaml"]}
csv = "1.1"
serde_yaml = { version = "0.8", git = "https://github.com/semtexzv/serde-yaml", branch = "multidoc"}
regex = "1"
toml = "0.5"
# For Templates
tera = "1.6"
uuid = { version = "0.8", features = ["serde", "v4"] }
# For Connectors
rusoto_core = { version = "0.45", git = "https://github.com/jmfiaschi/rusoto", branch = "feat/s3_select"}
rusoto_s3 = { version = "0.45", git = "https://github.com/jmfiaschi/rusoto", branch = "feat/s3_select" }
curl = "0.4"
http = "0.2"
env_applier = "0.1"
genawaiter = "0.99"
tokio = "0.2"
jsonwebtoken = "7.2"
base64 = "0.13.0"
mime = "0.3"
rayon = "1.5"
futures = "0.3"

[dev-dependencies]
criterion = "0.3"
chrono = "0.4"

[features]
use_xml_document = []
use_yaml_document = []
use_csv_document = []
use_toml_document = []
use_bucket_connector = []
use_curl_connector = []
default = [
    'use_xml_document', 
    'use_yaml_document', 
    'use_csv_document', 
    'use_toml_document',
    'use_bucket_connector',
    'use_curl_connector',
]
