[package]
name = "chewdata"
version ="1.10.0"
authors = ["Jean-Marc Fiaschi <jm.fiaschi@gmail.com>"]
edition = "2018"
description = "Extract Transform and Load data"
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://www.chewdata.org"
repository = "https://github.com/jmfiaschi/chewdata"
include = ["src/*", "LICENSE-APACHE", "LICENSE-MIT", "README.md"]
categories = ["encoding","network-programming","data-structures"]

[dependencies]
tracing = "0.1"
tracing-subscriber = { version = "0.3", features= ["fmt", "env-filter"] }
tracing-futures = "0.2"
tracing-appender = { version = "0.2" }
glob = "0.3"
env_applier = "0.1"
serde_json = "1.0"
json_value_merge = "1.1"
json_value_remove = "1.0"
json_value_resolve = "1.0"
json_value_search = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde-with-expand-env = "1.1"
futures = "0.3"
async-std = { version = "1.10", features = ["attributes"] }
async-trait = "0.1"
async-stream = { version = "0.3" }
mime = "0.3"
crossbeam = "0.8"
base64 = "0.13"
regex = "1.5"
clap = { version = "2.33", features = ["yaml"] }
serde_yaml = { version = "0.8" }
# For Templates
tera = "1.12"
uuid = { version = "0.8", features = ["serde", "v4"] }
# For readers
jxon = { version = "0.8", optional = true }
csv = { version = "1.1", optional = true }
toml = { version = "0.5", optional = true }
# For Connectors
rusoto_core = { version = "0.47", optional = true }
rusoto_s3 = { version = "0.47", optional = true }
tokio = { version = "1.12", optional = true }
jsonwebtoken = { version = "7.2", optional = true }
surf = { version = "2.3", default-features = false, features = ["h1-client-rustls", "encoding"], optional = true }
surf_bucket_select = { version = "0.2", optional = true }
http-types = { version = "2.12", optional = true}
mongodb = { version = "1.2", default-features = false, features = ["async-std-runtime"], optional = true }

[dev-dependencies]
criterion = { version = "0.3", features = ["stable"] }
chrono = { version = "0.4" }

[features]
use_xml_document = ["jxon"]
use_csv_document = ["csv"]
use_toml_document = ["toml"]
use_bucket_connector = ["rusoto_core","rusoto_s3","surf_bucket_select","surf","tokio"]
use_curl_connector = ["surf","jsonwebtoken","http-types"]
use_mongodb_connector = ["mongodb"]
default = [
    'use_xml_document',
    'use_csv_document', 
    'use_toml_document',
    'use_bucket_connector',
    'use_curl_connector',
    'use_mongodb_connector',
    'tracing/max_level_trace',
    'tracing/release_max_level_info'
]

[[bench]]
name = "reader_benchmark"
harness = false
path = "benches/reader_benchmark.rs"

[profile.release]
lto = true
