[package]
name = "chewdata"
version = "1.3.0"
authors = ["Jean-Marc Fiaschi"]
edition = "2018"
description = "Extract Transform and Load data"
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://www.chewdata.org"
repository = "https://github.com/jmfiaschi/chewdata"

[dependencies]
slog = "2.7"
slog-scope = "4.4"
slog-term = "2.8"
slog-async = "2.7"
slog-stdlog = "4.1"
slog-envlogger = "2.2"
glob = "0.3"
env_applier = "0.1"
serde_json = "1.0"
json_value_merge = "1.1"
json_value_remove = "1.0"
json_value_resolve = "0.1"
json_value_search = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde-with-expand-env = "1.1"
futures = "0.3"
async-std = { version = "1.10", features = ["attributes"] }
async-trait = "0.1"
async-stream = { version = "0.3" }
mime = "0.3"
multiqueue2= "0.1"
base64 = "0.13.0"
regex = "1.5"
clap = { version = "2.33", features = ["yaml"] }
serde_yaml = { version = "0.8" }
# For Templates
tera = "1.12"
uuid = { version = "0.8", features = ["serde", "v4"] }
# For readers
jxon = { version = "0.7", optional = true }
csv = { version = "1.1", optional = true }
toml = { version = "0.5", optional = true }
# For Connectors
rusoto_core = { version = "0.47", optional = true }
rusoto_s3 = { version = "0.47", optional = true }
tokio = { version = "1.10", optional = true }
jsonwebtoken = { version = "7.2", optional = true }
surf = { version = "2.3", default-features = false, features = ["h1-client-rustls", "middleware-logger", "encoding"], optional = true }
surf_bucket_select = { version = "0.2.2", optional = true }
mongodb = { version = "1.2", default-features = false, features = ["async-std-runtime"], optional = true }

[dev-dependencies]
criterion = { version = "0.3", features = ["stable"] }
chrono = { version = "0.4" }

[features]
use_xml_document = ["jxon"]
use_csv_document = ["csv"]
use_toml_document = ["toml"]
use_bucket_connector = ["rusoto_core","rusoto_s3","surf_bucket_select","surf","tokio"]
use_curl_connector = ["surf","jsonwebtoken"]
use_mongodb_connector = ["mongodb"]
default = [
    'use_xml_document',
    'use_csv_document', 
    'use_toml_document',
    'use_bucket_connector',
    'use_curl_connector',
    'use_mongodb_connector',
    'slog/max_level_trace',
    'slog/release_max_level_info',
]

[[bench]]
name = "reader_benchmark"
harness = false

[profile.release]
lto = true
