[package]
name = "chewdata"
version = "0.0.2"
authors = ["Jean-Marc Fiaschi"]
edition = "2018"
description = "Extract Transform and Load data"
license = "MIT/Apache-2.0"
readme = "README.md"
homepage = "https://www.chewdata.org"
repository = "https://github.com/jmfiaschi/chewdata"

[dependencies]
slog = { version="2.7.0", features = ["max_level_trace", "release_max_level_info"] }
slog-scope = "4.4.0"
slog-term = "2.8.0"
slog-async = "2.6.0"
slog-stdlog = "4.1.0"
slog-envlogger = "2.2.0"
glob = "0.3.0"
serde_json = "1.0.64"
json_value_merge = "0.1.2"
json_value_resolve = "0.1.1"
json_value_search = "0.1.1"
serde = { version = "1.0.126", features = ["derive"] }
serde-with-expand-env = "1.1.0"
# For readers
jxon = "0.7"
clap = {version = "2.33.3", features = ["yaml"]}
csv = "1.1.6"
serde_yaml = "0.8.17"
regex = "1.5.4"
toml = "0.5.8"
# For Templates
tera = "1.10.0"
uuid = { version = "0.8.2", features = ["serde", "v4"] }
# For Connectors
rusoto_core = { version = "0.47.0"}
rusoto_s3 = { version = "0.47.0"}
http = "0.2.4"
env_applier = "0.1"
genawaiter = "0.99.1"
futures = "0.3.15"
tokio = "1.6.1"
jsonwebtoken = "7.2"
base64 = "0.13.0"
mime = "0.3.16"
multiqueue2= "0.1.7"
async-std = "1.9.0"
async-trait = "0.1.50"
tokio-serde = "0.8.0"
tokio-util = "0.6.7"
async-stream = { version = "0.3.2" }
futures-core = { version = "0.3.15" }
surf = { version = "2.2.0", default-features = false, features = ["h1-client"] }
surf_bucket_select = { version = "0.1.1" }

[dev-dependencies]
criterion = "0.3.4"
chrono = "0.4.19"

[dependencies.mongodb]
version = "1.2.2"
default-features = false
features = ["async-std-runtime"]

[features]
use_xml_document = []
use_yaml_document = []
use_csv_document = []
use_toml_document = []
use_bucket_connector = []
use_curl_connector = []
use_mongodb_connector = []
default = [
    'use_xml_document', 
    'use_yaml_document', 
    'use_csv_document', 
    'use_toml_document',
    'use_bucket_connector',
    'use_curl_connector',
    'use_mongodb_connector',
]

[[bench]]
name = "reader_benchmark"
harness = false
