services:
    minio:
        image: minio/minio:latest
        hostname: minio
        volumes:
            - ./.cache/minio/data:/data
        command: server /data --console-address ":9001"
        expose:
            - "9000"
            - "9001"
        ports:
            - "9000:9000"
            - "9001:9001"
        environment:
            MINIO_ROOT_USER: ${BUCKET_ACCESS_KEY_ID}
            MINIO_ROOT_PASSWORD: ${BUCKET_SECRET_ACCESS_KEY}
            MINIO_API_SELECT_PARQUET: "on"
        healthcheck:
            test: ["CMD", "mc", "ready", "local"]
            interval: 5s
            timeout: 5s
            retries: 5

    mc:
        image: minio/mc:latest
        volumes:
            - ./.cache/minio/root:/root
            - ./data:/root/data
        depends_on:
            minio:
                condition: service_healthy

    http-mock:
        image: mccutchen/go-httpbin
        ports:
            - 8080:8080

    https-mock:
        image: mccutchen/go-httpbin
        ports:
            - 8084:8080
        environment:
            HTTPS_CERT_FILE: /tmp/server.crt
            HTTPS_KEY_FILE: /tmp/erver.key
        volumes:
          - ./.config/server.crt:/tmp/server.crt
          - ./.config/server.key:/tmp/erver.key

    mongodb:
        image: mongo
        ports:
            - 27017:27017
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
        healthcheck:
            test: ["CMD","mongo", "--eval", "db.adminCommand('ping')"]
            interval: 5s
            timeout: 5s
            retries: 3
            start_period: 5s

    mongodb-admin:
        image: mongo-express
        ports:
            - 8081:8081
        depends_on:
            mongo:
                condition: service_healthy
        environment:
            ME_CONFIG_MONGODB_SERVER: mongo
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_USERNAME}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_PASSWORD}

    psql:
        image: postgres
        restart: always
        ports:
            - 5432:5432
        environment:
            POSTGRES_USER: ${PSQL_USERNAME}
            POSTGRES_PASSWORD: ${PSQL_PASSWORD}
            POSTGRES_DB: ${PSQL_DB}
        volumes:
            - ./.config/psql.sql:/docker-entrypoint-initdb.d/setup.sql
        healthcheck:
            test: ["CMD-SHELL", "pg_isready"]
            interval: 10s
            timeout: 5s
            retries: 5

    adminer:
        image: adminer
        restart: always
        depends_on:
            psql:
                condition: service_healthy
        ports:
            - 8082:8080

    keycloak:
        image: quay.io/keycloak/keycloak:latest
        restart: always
        environment:
            KC_LOG_LEVEL: INFO
            KC_DB: postgres
            KC_DB_USERNAME: ${PSQL_USERNAME}
            KC_DB_PASSWORD: ${PSQL_PASSWORD}
            KC_DB_URL: jdbc:postgresql://psql:5432/${PSQL_DB}
            KC_HEALTH_ENABLED: "true"
            KC_METRICS_ENABLED: "true"
            KEYCLOAK_ADMIN: ${KEYCLOAK_USER}
            KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_PASSWORD}
            KC_HTTP_ENABLED: "true"
            KC_HOSTNAME_STRICT: "false"
        depends_on:
            psql:
                condition: service_healthy
        ports:
            - "8083:8080"
        healthcheck:
            test: ['CMD-SHELL', '[ -f /tmp/HealthCheck.java ] || echo "public class HealthCheck { public static void main(String[] args) throws java.lang.Throwable { System.exit(java.net.HttpURLConnection.HTTP_OK == ((java.net.HttpURLConnection)new java.net.URL(args[0]).openConnection()).getResponseCode() ? 0 : 1); } }" > /tmp/HealthCheck.java && java /tmp/HealthCheck.java http://keycloak:9000/health/live']
            interval: 5s
            timeout: 5s
            retries: 30
        volumes:
            - ./.config/realm.json:/opt/keycloak/data/import/realm.json
        command: ["start-dev", "--import-realm"]

    keycloak-ready:
        image: busybox
        command: echo "I'm ready for tests"
        depends_on:
            keycloak:
                condition: service_healthy

    rabbitmq:
        image: rabbitmq:3-management-alpine
        restart: always
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_USERNAME}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
            - RABBITMQ_DEFAULT_VHOST=/
        ports:
            - "127.0.0.1:5672:5672"
            - "127.0.0.1:15672:15672"
        healthcheck:
            test: >
                rabbitmq-diagnostics -q ping &&
                rabbitmq-diagnostics -q check_running &&
                rabbitmq-diagnostics -q check_port_listener 5672 &&
                rabbitmq-diagnostics -q check_port_listener 15672
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    rabbitmq-ready:
        image: busybox
        command: echo "I'm ready for tests"
        depends_on:
            rabbitmq:
                condition: service_healthy

    monitoring:
        image: jaegertracing/all-in-one:latest
        ports:
            - 6831:6831/udp
            - 6832:6832/udp
            - 16686:16686
