version: "3.6"
services:
    minio:
        image: minio/minio:latest
        volumes:
            - ./cache/minio/data:/data:cached
        ports:
            - 9000:9000
        environment:
            MINIO_ACCESS_KEY: ${BUCKET_ACCESS_KEY_ID}
            MINIO_SECRET_KEY: ${BUCKET_SECRET_ACCESS_KEY}
        command: server /data

    mc:
        image: minio/mc:latest
        volumes:
            - ./cache/minio/root:/root
            - ./data:/root/data

    httpbin:
        image: kennethreitz/httpbin:latest
        ports:
            - 8080:80

    mongo:
        image: mongo
        ports:
            - 27017:27017
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}

    mongo-express:
        image: mongo-express
        ports:
            - 8081:8081
        environment:
            ME_CONFIG_MONGODB_SERVER: mongo
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGODB_USERNAME}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGODB_PASSWORD}