name: CI

on: [push]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Rename .env.ci to .env
        run: cp .env.ci .env 

      - name: load env file
        uses: falti/dotenv-action@v0.2.6

      - name: Run coverage
        run: make coverage-ut

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: unitary
          verbose: true
          fail_ci_if_error: true

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: cobertura.xml
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true

      - name: Rename .env.ci to .env
        run: cp .env.ci .env 

      - name: load env file
        uses: falti/dotenv-action@v0.2.6

      - name: Run coverage
        run: make coverage-it

      - name: Upload coverage to codecov.io
        uses: codecov/codecov-action@v2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: integration
          verbose: true
          fail_ci_if_error: true

      - name: Archive code coverage results
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: cobertura.xml