---
name: ci

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: lint
      - run: cargo clippy --all-features -- -D warnings
  build-matrix:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: build
            command: just build
          - name: build-feature-csv
            command: just build-feature-csv
          - name: build-feature-xml
            command: just build-feature-xml
          - name: build-feature-parquet
            command: just build-feature-parquet
          - name: build-feature-toml
            command: just build-feature-toml
          - name: build-feature-bucket
            command: just build-feature-bucket
          - name: build-feature-curl
            command: just build-feature-curl
          - name: build-feature-psql
            command: just build-feature-psql
          - name: build-feature-mongodb
            command: just build-feature-mongodb
          - name: build-feature-apm
            command: just build-feature-apm
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cp .env.ci .env
      - uses: falti/dotenv-action@v1
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: build-${{ matrix.name }}
      - run: just setup
      - run: ${{ matrix.command }}
  tests:
    needs: [lint, build-matrix]
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: basic
            command: just test-basic
          - name: csv
            command: just test-csv
          - name: xml
            command: just test-xml
          - name: parquet
            command: just test-parquet
          - name: toml
            command: just test-toml
          - name: bucket
            command: just test-bucket
          - name: curl
            command: just test-curl
          - name: psql
            command: just test-psql
          - name: mongodb
            command: just test-mongodb
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cp .env.ci .env
      - uses: falti/dotenv-action@v1
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: tests-${{ matrix.name }}
      - uses: webgtx/setup-podman-compose@v1
      - run: ${{ matrix.command }}
  semantic-release:
    needs: [tests]
    runs-on: ubuntu-latest
    outputs:
      release_tag: ${{ steps.release_version.outputs.release_tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
      - uses: dtolnay/rust-toolchain@stable
      - run: cp .env.ci .env
      - uses: falti/dotenv-action@v1
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: release
      - run: just setup
      - name: Install Semantic Release
        run: |
          npm install -g \
            semantic-release \
            @semantic-release/changelog \
            @semantic-release/git \
            @semantic-release/github \
            @semantic-release/exec
      - name: Run Semantic Release
        run: semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GITHUB_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - name: Set Docker tag
        id: release_version
        run: |
          VERSION=$(just version)
          echo "release_tag=$VERSION" >> "$GITHUB_OUTPUT"
  docker:
    needs: [semantic-release]
    runs-on: ubuntu-latest
    env:
      RELEASE_TAG: ${{ needs.semantic-release.outputs.release_tag }}
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: release
      - uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - run: cp .env.ci .env
      - run: |
          echo "Prepare docker release: ${{ env.RELEASE_TAG }}"
      - uses: docker/setup-buildx-action@v3
      - uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ${{ github.repository_owner }}/chewdata
            ${{ github.repository_owner }}/chewdata:${{ env.RELEASE_TAG }}
            ${{ github.repository_owner }}/chewdata:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
