---
name: cov

on: push

env:
  CARGO_TERM_COLOR: always
  CHEWDATA_TAG: latest

jobs:
  all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
      - run: cp .env.ci .env
      - uses: falti/dotenv-action@v1
      - uses: extractions/setup-just@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: cov
      - uses: webgtx/setup-podman-compose@v1
      - run: just setup
      - run: just coverage
      - uses: codecov/codecov-action@v1
        with:
          flags: 'tests'
          verbose: true
